@-webkit-keyframes spinning{
0% {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
50% {
transform: rotate(325deg);
-webkit-transform: rotate(325deg);
}
100% {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
}
@-webkit-keyframes translating{ 
0% {
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
}
50% {
transform: translateX(50%);
-webkit-transform: translateX(50%);
}
100% {
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
}
}
@-webkit-keyframes color-change {
0%, 20%, 40%, 60%, 100% {
background-color: #fff;
}
10%, 30%, 50%, 70%, 90% {
background-color: #f00;
}
}

*{
margin: 0;
padding: 0;
}
body {
background-color: #5ffbeb;
}

#ByLeandromeda {
width: 715px;
height: 500px;
margin: 0 auto;
position: relative;
}

/*movimento do container para o efeito aplicado à pokebola. */

#ByLeandromeda #moving-container {
width: 10em;
height: 10em;
margin: 10px auto 70px;
position: relative;
-webkit-animation: translating 5s infinite;
}

/*Container destinado a pokebola */

#ByLeandromeda #pokeball-container {
width: 10em;
height: 10em;
margin: 20px auto;
-webkit-animation: spinning 5s infinite;
}
#ByLeandromeda #pokeball {
width: 10em;
height: 10em;
background-color: #fff;
border-radius: 50%;
position: relative;
overflow: hidden;
}

#ByLeandromeda #pokeball::before {
content: '';
background-color: #fff;
border-radius: 5em 5em 0 0;
width: 10em;
height: 5em;
position: absolute;
}
#ByLeandromeda #pokeball .pokeball-details {
width: 10em;
height: 1em;
background-color: rgb(237, 97, 97);
position: absolute;
top: 4.5em;
}

/* Animação do botão da pokébola */

#ByLeandromeda #pokeball .pokeball-details::before {
content: ''; width: 3.5em;
height: 3.5em;
border-radius: 50%;
background-color: rgb(237, 97, 97);
position: absolute;
top: -1.25em;
left: 3.25em;
z-index: 200;
}
#ByLeandromeda #pokeball .pokeball-details::after {
content: '';
width: 1.8em;
height: 1.8em;
border: 0.3em solid white;
border-radius: 50%;
background-color: #fff;
position: absolute;
top: -0.65em;
left: 3.80em;
margin: 0 auto;
z-index: 250;
-webkit-animation: color-change 3s infinite;
}

/*
* CHARMANDER
*/

#ByLeandromeda #charmander {
position: relative;
width: 20em;
height: 12em;
float: left;
}
#ByLeandromeda #charmander #body {
width: 8em;
height: 13em;
background-color: #f7c200;
border-radius: 5em 5em 0 0;
z-index: 150;
position: relative;
}
#ByLeandromeda #charmander #feet::before {
content: '';
width: 2em;
height: 2em;
background-color: #f7c200;
border-radius: 0 0 1em 1em;
position: absolute;
top: 12em;
}
#ByLeandromeda #charmander #feet::after {
content: '';
width: 2em;
height: 2em;
background-color: #f7c200;
border-radius: 0 0 1em 1em;
position: absolute;
top: 12em;
left: 6em;
}
#ByLeandromeda #charmander #eyes::before {
content: ''; width: 1.5em;
height: 1.5em;
background-color: #fff;
border-radius: 1em;
position: absolute;
top: 2em;
left: 1em;
}
#ByLeandromeda #charmander #eyes::after {
content: '';
width: 1.5em;
height: 1.5em;
background-color: #fff;
border-radius: 1em;
position: absolute;
top: 2em;
left: 4.5em;
}
#ByLeandromeda #charmander #pupils::before {
content: '';
width: 0.75em;
height: 1.5em;
background-color: #000;
border-radius: 0 1em 1em 0;
position: absolute;
top: 2em;
left: 5.25em;
}
#ByLeandromeda #charmander #pupils::after {
content: '';
width: 0.75em;
height: 1.5em;
background-color: #000;
border-radius: 0 1em 1em 0;
position: absolute;
top: 2em;
left: 1.75em;
}
#ByLeandromeda #charmander #nostrils::before {
content: ''; width: 0.25em;
height: 0.25em;
background-color: #000;
border-radius: 1em;
position: absolute;
top: 3em;
left: 3em;
}
#ByLeandromeda #charmander #nostrils::after {
content: '';
width: 0.25em;
height: 0.25em;
background-color: #000;
border-radius: 1em;
position: absolute;
top: 3em;
left: 3.75em;
}
#ByLeandromeda #charmander #mouth::before {
content: '';
width: 1.25em;
height: 0.75em;
background-color: #942e58;
border-radius: 0 0 3em 3em;
position: absolute;
top: 3.75em;
left: 2.85em;
}
#ByLeandromeda #charmander #belly {
content: '';
width: 5.5em;
height: 5.5em;
background-color: #fff48a;
border-radius: 2em 2em 0 2em;
position: absolute;
top: 7.5em;
left: 0.5em;
z-index: 10;
}
#ByLeandromeda #charmander #tail::before {
content: '';
width: 3em;
height: 2.75em;
background-color: #f7c200;
border-radius: 0 0 2em 0;
position: absolute;
top: 10em;
left: 8em;
z-index: 10;
}
#ByLeandromeda #charmander #tail::after {
content: '';
width: 1.5em;
height: 1.5em;
background-color: #5ffbeb;
border-radius: 0 0 50% 0; 
position: absolute;
top: 9.50em;
left: 8em;
z-index: 10;
}
#ByLeandromeda #charmander #arms::before {
content: '';
width: 2em;
height: 2em;
background-color: #f7c200;
border-radius: 2em 0 0 2em;
position: absolute;
top: 5.75em;
left: -1.5em;
z-index: 10;
}
#ByLeandromeda #charmander #arms::after {
content: '';
width: 2em;
height: 2em;
background-color: #f7c200;
border-radius: 0 2em 2em 0;
position: absolute;
top: 5.75em;
left: 7.75em;
z-index: 10;
}
#ByLeandromeda #charmander #flame {
content: '';
width: 2.5em;
height: 2.5em;
overflow: hidden;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%; border-top-left-radius: 50%;
-webkit-transform:rotate(-45deg);
background-color: #ffa200;
position: absolute;
top: 8em;
left: 9em;
z-index: 300;
}

/*
* BULBASAURO
*/

#ByLeandromeda #bulbasauro {
position: relative;
float: left;
left: -9em;
width: 10em;
height: 12em;
top: 1em;
}
#ByLeandromeda #bulbasauro #body {
content: '';
width: 12em;
height: 7em;
top: 5em;
left: 2em;
background-color: #a0d637;
border-radius: 0 8em 8em 8em;
z-index: 150;
position: absolute;
}
#ByLeandromeda #bulbasauro #head {
width: 9em;
height: 7em;
left: 1em;
top: 1em;
background-color: #a0d637;
border-radius: 1em 0 0 1em;
z-index: 200;
position: absolute;
}
#ByLeandromeda #bulbasauro #eyes::before, #ByLeandromeda #squirtle #eyes::before {
content:'';
width: 1.5em;
height: 1.5em;
background-color: #fff; border-radius: 1em;
position: absolute;
top: 2em;
left: 1em;
}
#ByLeandromeda #bulbasauro #eyes::after, #ByLeandromeda #squirtle #eyes::after {
content: '';
width: 1.5em;
height: 1.5em;
background-color: #fff;
border-radius: 1em;
position: absolute;
top: 2em;
left: 4.5em;
}
#ByLeandromeda #bulbasauro #pupils::before, #ByLeandromeda #squirtle #pupils::before {
content: '';
width: 0.75em;
height: 1.5em;
background-color: #000;
border-radius: 0 1em 1em 0;
position: absolute;
top: 2em;
left: 5.25em;
}
#ByLeandromeda #bulbasauro #pupils::after, #ByLeandromeda #squirtle #pupils::after {
content: '';
width: 0.75em;
height: 1.5em;
background-color: #000;
border-radius: 0 1em 1em 0;
position: absolute;
top: 2em;
left: 1.75em;
}
#ByLeandromeda #bulbasauro #nostrils::before, #ByLeandromeda #squirtle
#nostrils::before {
content: '';
width: 0.25em;
height: 0.25em; background-color: #000; border-radius: 1em;
position: absolute;
top: 3em;
left: 3em;
}
#ByLeandromeda #bulbasauro #nostrils::after, #ByLeandromeda #squirtle
#nostrils::after {
content: '';
width: 0.25em;
height: 0.25em;
background-color: #000;
border-radius: 1em;
position: absolute;
top: 3em;
left: 3.75em;
}
#ByLeandromeda #bulbasauro .mouth, #ByLeandromeda #squirtle #mouth {
content: '';
width: 1.25em;
height: 0.75em;
background-color: #942e58;
border-radius: 0 0 3em 3em;
position: absolute;
top: 3.75em;
left: 2.85em;
}
#ByLeandromeda #bulbasauro #front-feet::before {
content: '';
width: 2em;
height: 5em;
background-color: #a0d637;
border-radius: 0 0 1em 1em;
position: absolute;
top: 8em;
left: 2em;
}
#ByLeandromeda #bulbasauro #front-feet::after {
content: ''; width: 2em;
height: 5em;
background-color: #a0d637;
border-radius: 0 0 1em 1em;
position: absolute;
top: 8em;
left: 5em;
}
#ByLeandromeda #bulbasauro #back-feet::before {
content: '';
width: 2em;
height: 5em;
background-color: #a0d637;
border-radius: 0 0 1em 1em;
position: absolute;
top: 8em;
left: 12em;
}
#ByLeandromeda #bulbasauro #back-feet::after {
content: '';
width: 2em;
height: 5em;
background-color: #a0d637;
border-radius: 0 0 1em 1em;
position: absolute;
top: 8em;
left: 9em;
}
#ByLeandromeda #bulbasauro #bulb::before {
content: '';
width: 11em;
height: 11em;
overflow: hidden;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
border-top-left-radius: 50%;
-webkit-transform:rotate(-45deg);
background-color: #4bb934;
position: absolute;
top: -1em;
left: 5em;
}
#ByLeandromeda #bulbasauro #bulb::after {
content: '';
background-color: #4bb934;
border-radius: 0 0 3em 2em;
position: absolute;
top: 1em;
left: 5em;
}
#ByLeandromeda #bulbasauro .ears::before {
content: '';
width: 1em; height: 4em;
left: 2em;
top: 1em;
background-color: #a0d637;
border-radius: 4em 4em 0 4em;
z-index: 150;
position: absolute;
top: 0.25em;
left: 2em;
}
#ByLeandromeda #bulbasauro .ears::after {
content: '';
width: 1em;
height: 4em;
background-color: #a0d637;
border-radius: 4em 4em 0 4em;
z-index: 150;
position: absolute;
top: 0.25em;
left: 9em;
}
#ByLeandromeda #bulbasauro .spots {
content: '';
background-color: #488600;
border-radius: 1em;
z-index: 500;
position: absolute;
}
.spot1 {
width: 1.5em;
height: 1.5em;
top: 1.25em;
left: 8em;
}
.spot2 {
width: 1em;
height: 1em;
top: 2.25em;
left: 9.75em;
}
.spot3 {
width: 1em;
height: 1em;
top: 3em;
left: 8.60em;
}

/*
* SQUIRTLE
*/

#ByLeandromeda #squirtle {
position: relative;
float: left;
left: -1em;
width: 10em;
height: 12em;
top: 0;
}
#ByLeandromeda #squirtle #body {
width: 8em;
height: 13em;
background-color: #ffe69c;
border-radius: 5em 5em 2em 4em;
z-index: 150;
position: relative;
}
#ByLeandromeda #squirtle #head {
content: '';
width: 8em;
height: 8em;
background-color: #7db2e4;
border-radius: 4em;
position: absolute;
top: 0em;
z-index: 300;
}
#ByLeandromeda #squirtle #feet::before {
content: '';
width: 2em;
height: 3em;
background-color: #7db2e4;
border-radius: 1em;
position: absolute;
top: 11em;
left: 1em;
z-index: 500;
}
#ByLeandromeda #squirtle #feet::after {
content: '';
width: 2em;
height: 3em;
background-color: #7db2e4;
border-radius: 1em;
position: absolute;
top: 11em;
left: 5em;
z-index: 400;
}
#ByLeandromeda #squirtle #arms::before {
content: '';
width: 2em;
height: 2em;
background-color: #7db2e4;
border-radius: 2em 0 0 2em;
position: absolute;
top: 5.75em;
left: -1.5em;
z-index: 10;
}
#ByLeandromeda #squirtle #arms::after {
content: '';
width: 2em;
height: 2em;
background-color: #7db2e4;
border-radius: 0 2em 2em 0;
position: absolute;
top: 5.75em;
left: 7.75em;
z-index: 50;
}
#ByLeandromeda #squirtle #shell::before {
content: '';
width: 3em;
height: 10em;
background-color: #e3e7ee;
border-radius: 0 2em 2em 0;
position: absolute;
top: 2.75em;
left: 6em;
z-index: 10;
}
#ByLeandromeda #squirtle #shell::after {
content: '';
width: 3em;
height: 8.5em;
background-color: #87bc54;
border-radius: 0 3em 3em 0;
position: absolute;
top: 3.5em;
left: 8em;
z-index: 5;
}
#ByLeandromeda #squirtle #tail::before {
content: '';
width: 3em;
height: 6.5em;
background-color: #7db2e4;
border-radius: 0 3em 3em 0;
position: absolute;
top: 4.5em;
left: 9.5em;
z-index: 4;
}
#ByLeandromeda #squirtle #tail::after {
content: '';
width: 5em;
height: 5em;
background-color: #7db2e4;
border-radius: 3em;
position: absolute;
top: 2em;
left: 9em;
z-index: 4;
}

/*
* DITTO
*/

#ByLeandromeda #ditto {
    position: relative;
    float: middle;
    left: 44em;
    width: 10em;
    height: 12em;
    top: 0;
    }
    #ByLeandromeda #ditto #body1 {
    width: 8em;
    height: 13em;
    background-color: #7fcbfd;
    transform: rotate(25deg);
    border-radius: 2em 6em 4em 2em;
    z-index: 150;
    position: relative;
    }
    #ByLeandromeda #ditto #body2 {
    content: '';
    top: -0.3em;
    width: 8em;
    height: 13em;
    background-color: #7fcbfd;
    transform: rotate(-25deg);
    left: 3.5em;
    border-radius: 4em 3em 3em 3em;
    position: absolute;
    z-index: 300;
    }
    #ByLeandromeda #ditto #body3 {
        content: '';
        top: 7.8em;
        width: 8em;
        height: 5em;
        background-color: #7fcbfd;
        transform: rotate(deg);
        left: 1.5em;
        border-radius: 6em 6em 2em 2em;
        position: absolute;
        z-index: 300;
        }
    #ByLeandromeda #ditto #Lhand1{
    content: '';
    width: 2em;
    height: 5em;
    background-color: #7fcbfd;
    transform: rotate(-29deg);
    border-radius: 1em;
    position: absolute;
    top: -0.5em;
    left: -0.2em;
    z-index: 500;
    }
    #ByLeandromeda #ditto #Lhand2{
    content: '';
     width: 2em;
     height: 7em;
     background-color: #7fcbfd;
     transform: rotate(-12.9deg);
    border-radius: 1em;
     position: absolute;
     top: -0.5em;
     left: -0.4em;
     z-index: 500;
     }
     #ByLeandromeda #ditto #Rhand2{
     content: '';
     width: 4em;
     height: 5em;
     background-color: #7fcbfd;
     transform: rotate(240deg);
     border-radius: 2em 0em 2em 6em;
     position: absolute;
     top: 1.4em;
     left: 9em;
     z-index: 500;
                }
    #ByLeandromeda #ditto #eye1{
    content: '';
    width: 1em;
    height: 1em;
    background-color: #000000;
    transform: rotate(25deg);
    border-radius: 1em;
    position: absolute;
    top: 1em;
    left: 1.7em;
    z-index: 100;
    }
    #ByLeandromeda #ditto #eye2{
        content: '';
        width: 1em;
        height: 1em;
        background-color: #000000;
        transform: rotate(25deg);
        border-radius: 1em;
        position: absolute;
        top: 2.9em;
        left: 5em;
        z-index: 100;
        }
    #ByLeandromeda #ditto #mouth{
    content: '';
    width: 0.2em;
    height: 7em;
    background-color: #000000;
    transform: rotate(119deg);
    border-radius: 6em 6em 6em 6em;
    position: absolute;
    top: -0.6em;
    left: 2em;
    z-index: 500;
    }
        
    